@import "../../styles/variables.scss";

button {
	height: 52px;
	width: 52px;
	background-color: $searchbar-color;
	border-radius: 999999px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	padding: 0;
	border: none;
	cursor: pointer;
	font-size: medium;
}

button:hover {
	scale: 108%;
}
