// Colors
$background-color: #000;
$widget-background-color: #121212;
$searchbar-color: #242424;
$searchbar-color-hover: #2a2a2a;
$result-background-color: #242424;
$result-background-color-hover: #282828;
$text-color: #fff;
$passive-text-color: #A7A7A7;

// Spotify green accent
$accent-color: #1DB954;

// Download Button
$button-color: #1ed760;
$button-color-highlight: #1fdf64;
$button-font-color: #000;

//Media-query values
$mobile-l: 867px; // Large
$mobile-m: 675px; // Medium
$mobile-s: 540px; // Small




