
// Colors
$background-color: #000;
$widget-background-color: #121212;
$searchbar-color: #242424;
$searchbar-color-hover: #2a2a2a;
$result-background-color: #242424;
$text-color: #fff;
$passive-text-color: #A7A7A7;
// Spotify green accent
$accent-color: #1DB954;



