@import "../../styles/variables.scss";

.searchbar {
	display: flex;
	align-items: center;
	border: 2px solid $searchbar-color;
	background-color: $searchbar-color;
	width: 364px;
	height: 36px;
	padding: 6px 16px 6px 16px;
	flex-direction: row;
	border-radius: 9999999px;
	text-align: justify;
}

.searchbar {
	input {
		background-color: transparent;
		border: none;
		width: 300px;
		height: 100%;
		padding: 0;
		padding-left: 1rem;
		font-size: medium;
	}

	input:focus-visible {
		outline: none;
	}
}

.searchbar {
	svg {
		width: 25px;
		height: 25px;
		color: $passive-text-color;
	}
}

.searchbar:focus-within {
	border: 2px solid $text-color;

	svg {
		color: $text-color;
	}
}

.searchbar:hover {
	svg {
		color: $text-color;
	}

	background-color: $searchbar-color-hover;
}

