@import "../../styles/variables.scss";

.searchbar {
	display: flex;
	align-items: center;
	border: 2px solid $searchbar-color;
	background-color: $searchbar-color;
	width: 100%;
	box-sizing: border-box;
	max-width: 400px;
	height: 52px;
	padding: 6px 16px 6px 16px;
	flex-direction: row;
	border-radius: 9999999px;

	.close-icon {
		margin-left: auto;
		font-size: 30px;
		color: $passive-text-color;
	}

	.close-icon:hover {
		color: $text-color;
	}

	svg {
		min-width: 25px;
	}
}

.searchbar {
	input {
		background-color: transparent;
		border: none;
		width: max-content;
		height: 100%;
		width: 100%;
		padding: 0;
		padding-left: 1rem;
		font-size: medium;
	}

	input:focus-visible {
		outline: none;
	}
}

.searchbar {
	font-size: 25px;
	color: $passive-text-color;
}

.searchbar:focus-within {
	border: 2px solid $text-color;

	.search-icon {
		color: $text-color;
	}
}

.searchbar:hover {
	.search-icon {
		color: $text-color;
	}

	background-color: $searchbar-color-hover;
}
