@import "../../styles/variables.scss";

.link-section {
	display: flex;
	flex-direction: row;
	border-radius: 9999999px;
	align-items: center;
	height: 52px;
	box-sizing: border-box;

	input {
		background-color: transparent;
		border: none;
		height: 100%;
		padding: 0;
		padding-left: 1rem;
		width: 0;
		font-size: medium;
		transition: all cubic-bezier(0.16, 1, 0.3, 1) 0.5s;
	}

	input:focus-visible {
		outline: none;
	}
}

.link-section[data-active="true"] {
	display: flex;
	padding: 6px 16px 6px 16px;
	align-items: center;
	border: 2px solid $searchbar-color;
	background-color: $searchbar-color;
	max-width: 400px;

	button {
		background-color: transparent;
		width: fit-content;

		:hover {
			scale: 100%;
		}
	}

	input {
		width: 300px;
	}

	.close-icon {
		font-size: 30px;
		margin-left: auto;
		color: $passive-text-color;
	}

	.close-icon:hover {
		color: $text-color;
	}
}

.link-section[data-active="true"]:focus-within {
	border: 2px solid $text-color !important;

	.link-icon {
		color: $text-color;
	}
}

.link-section[data-active="false"] {
	background-color: #242424;

	@media only screen and (max-width: 867px) {
		margin-right: auto;
	}

	input {
		width: 0;
		padding: 0;
		color: transparent;
	}
}

.link-section:hover {
	background-color: $searchbar-color-hover !important;

	.link-icon {
		color: $text-color;
	}
}
