@import "../../styles/variables.scss";

.link-section {
	flex-direction: row;
	border-radius: 9999999px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 52px;
}

.link-section {
	input {
		background-color: transparent;
		border: none;
		height: 100%;
		padding: 0;
		padding-left: 1rem;
		width: 0;
		font-size: medium;
		transition: 0.5s cubic-bezier(0.16, 1, 0.3, 1);
	}

	input:focus-visible {
		outline: none;
	}
}

.link-section[data-active="true"] {
	display: flex;
	padding: 6px 16px 6px 16px;
	align-items: center;
	border: 2px solid $searchbar-color;
	background-color: $searchbar-color;
	height: 36px;
	max-width: 400px;

	button:hover {
		scale: 100%;
	}

	button {
		background-color: transparent;
		width: 25px;
		height: 25px;
	}

	input {
		width: 300px;
	}

    .close-icon {
		width: 25px;
        height: 25px;

		svg {
			width: 25px;
			height: 25px;
			color: $passive-text-color;
		}
	}
}

.link-section[data-active="true"]:focus-within {
	border: 2px solid $text-color !important;

	svg {
		color: $text-color;
	}
}

.link-section[data-active="false"] {
    background-color: #242424;

	input {
		width: 0;
		padding: 0;
		color: transparent;
	}
}

.link-section:hover {
	background-color: $searchbar-color-hover !important;

	svg {
		color: $text-color;
	}
}