@import "../../styles/variables.scss";

.result {
	cursor: pointer;
	width: 20%;
	padding: 16px;
	background-color: $result-background-color;
	border-radius: 8px;
	margin: 0.5rem;
	font-size: small;
	color: $passive-text-color;
	//Causing issues with the width of the search results
	//overflow: hidden;
	//white-space: nowrap;
}

.result:hover {
	background-color: $result-background-color-hover;

    .download-button {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.result .result-title {
	max-width: 200px;
	color: $text-color;
	font-size: medium;
	text-overflow: ellipsis;
}

.result {
	.image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
	}
}

.result-bar {
    width: auto;
    display: flex;
    align-items: center;
    text-align: left;
    padding: 8px;

    img {
        margin-right: 1rem;
        height: 64px;
        width: 64px;
        border-radius: 4px;
    }

    .artists img {
        border-radius: 9999px
    }

    .result-bar-content {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

.result-card {
    .result-title {
        font-weight: bold;
        font-size: medium;
    }

    img {
        width: 100%;
        height: auto;
    }
}

// Result Group

.result-group {
    display: flex;
    flex-direction: column;

    h2 {
        text-align: left;
        padding-left: 10px;
        margin-bottom: 0;
    }
}

.result-group.column {
    width: 50%;

    .result-container {
        flex-direction: column;
        width: 100%;
    }
}

.result-group.row {
    width: 100%;
}

// Result

#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}